{% load static %}

<!DOCTYPE html>
<html lang="ko">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="logo.png">
		<title>Escapble</title>
		<!-- Bootstrap core CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.theme.default.min.css' %}"  rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body id="page-top">
		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="/"><img src="{% static 'images/logo.png' %}" alt="Escapable logo" style="width: inherit; height: inherit;"></a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="/#about">About</a>
						</li>
						<li>
							<a class="page-scroll" href="/recommend">Recommend</a>
						</li>
						<li>
							<a class="page-scroll" href="/#team">Team</a>
						</li>
						<li>
							<a class="page-scroll" href="/#contact">Contact</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

		<!-- Header -->
		<header>
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
						<div class="intro-lead-in">Tell me your preference about room escape thema</div><br>
						<a href="#survey1" class="page-scroll btn btn-xl" style="height: 80px;">방탈출 테마 추천만 받을래요</a>
						<a href="#survey2" class="page-scroll btn btn-xl" style="height: 80px;">방탈출 테마 추천뿐만 아니라 <br> 탈출 예측에 대한 정보도 받고 싶어요</a>
					</div>
				</div>
			</div>
		</header>

		<section id="survey1" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="section-text">
						<h3>방탈출 테마에 대한 경험(평점만)을 알려주세요</h3>
						<p>이를 분석하여 방탈출 테마 추천을 해드립니다</p>

						<ul id="ul_list">
							<li>
								<table>
									<div class="selectbox">
										<tr>
											<td>
												<label for="cafe_1">방탈출 카페를 선택하세요</label>
											</td>
											<td>
												<select name="cafe" id="cafe_1" class="select" onchange="searchThema(1)">
													<option selected>방탈출 카페를 선택하세요</option>
													{% for cafe in cafe_list %}
													<option value="{{cafe.cafe_name}}">{{cafe.cafe_name}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
									</div>
									<div class="selectbox">
										<tr>
											<td>
												<label for="thema_1">방탈출 테마를 선택하세요</label>
											</td>
											<td>
												<select name="thema" id="thema_1" class="select">
													<option selected>방탈출 테마를 선택하세요</option>
												</select>
											</td>
										</tr>
									</div>
									<tr>
										<td>
											<label>평점(5.0만점)</label>
										</td>
										<td>
											<input type="text" placeholder="평점을 입력하세요" name="user_rate" required="">
										</td>
									</tr>
								</table>
							</li>
								
							</ul>
							
						</div>
					<div class="owl-portfolio-item"><input type="button" class="btn" id="btn_add" onclick="action_add()" value="리뷰할 테마 추가"/></div><br><br>
					<div class="owl-portfolio-item"><button type="submit" class="page-scroll btn btn-xl">추천받기</button></div>
				</div>
			</div>
			<div style="margin: 200px;">	
			</div>
		</section>

		<section id="survey2" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="section-text">
						<h3>방탈출 테마에 대한 경험(평점, 탈출여부, 체감난이도)을 알려주세요</h3>
						<p>이를 분석하여 방탈출 테마 추천과 더불어 탈출 예측까지 해드립니다</p>

						<ul id="ul_list2">
							<li>
								<table>
									<div class="selectbox">
										<tr>
											<td>
												<label for="cafe2_1">방탈출 카페를 선택하세요</label>
											</td>
											<td>
												<select name="cafe" id="cafe2_1" class="select" onchange="searchThema2(1)">
													<option selected>방탈출 카페를 선택하세요</option>
													{% for cafe in cafe_list %}
													<option value="{{cafe.cafe_name}}">{{cafe.cafe_name}}</option>
													{% endfor %}
												</select>
											</td>
										</tr>
									</div>
									<div class="selectbox">
										<tr>
											<td>
												<label for="thema2_1">방탈출 테마를 선택하세요</label>
											</td>
											<td>
												<select name="thema" id= "thema2_1" class="select">
													<option selected>방탈출 테마를 선택하세요</option>
												</select>
											</td>
										</tr>
									</div>
									<tr>
										<td>
											<label>평점(5.0만점)</label>
										</td>
										<td>
											<input type="text" placeholder="평점을 입력하세요" name="user_rate" required="">
										</td>
									</tr>
									<div class="selectbox">
										<tr>
											<td>
												<label>탈출 여부</label>
											</td>
											<td>
												<select name="user_escape" class="select">
													<option disabled selected>탈출했나요?</option>
													<option value="1">Yes</option>
													<option value="0">No</option>
												</select>
											</td>
										</tr>
									</div>
									<div class="selectbox">
										<tr>
											<td>
												<label>탈출 여부</label>
											</td>
											<td>
												<select name="user_difficulty" class="select">
													<option disabled selected>체감난이도</option>
													<option value="매우 쉬움">매우 쉬움</option>
													<option value="쉬움">쉬움</option>
													<option value="보통">보통</option>
													<option value="어려움">어려움</option>
													<option value="매우 어려움">매우 어려움</option>
												</select>
											</td>
										</tr>
									</div>
								</table>

							</li>

						</ul>
						
					</div>
					<div class="owl-portfolio-item"><input type="button" class="btn" id="btn_add" onclick="action_add2()" value="리뷰할 테마 추가"/></div><br><br>
					<div class="owl-portfolio-item"><button type="submit" class="page-scroll btn btn-xl">추천받기</button></div>
				</div>
			</div>
			<div style="margin: 200px;">	
			</div>
		</section>
		
		
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>

		<footer>
			<div class="container text-center">
				<p>Designed by <a href="http://moozthemes.com"><span>SOOBEEN</span>escapable team</a></p>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/cbpAnimatedHeader.js' %}"></script>
		<script src="{% static 'js/jquery.appear.js' %}"></script>
		<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
		<script src="{% static 'js/mooz.themes.scripts.js' %}"></script>

		<script>
		
		var list1 = 1;
		var list2 = 1;

			function action_add(){
				list1++;

				var ul_list = $("#ul_list");
				ul_list.append("<li>\
									<table>\
										<div class='selectbox'>\
											<tr>\
												<td>\
													<label for='cafe_"+ list1 +"'>방탈출 카페를 선택하세요</label>\
												</td>\
												<td>\
													<select name='cafe' id='cafe_"+ list1 +"' class='select' onchange='searchThema("+ list1 +")'>\
														<option selected>방탈출 카페를 선택하세요</option>\
														{% for cafe in cafe_list %}\
														<option value='{{cafe.cafe_name}}'>{{cafe.cafe_name}}</option>\
														{% endfor %}\
													</select>\
												</td>\
											</tr>\
										</div>\
										<div class='selectbox'>\
											<tr>\
												<td>\
													<label for='thema_"+ list1 +"'>방탈출 테마를 선택하세요</label>\
												</td>\
												<td>\
													<select name='thema' id='thema_"+ list1 +"' class='select'>\
														<option selected>방탈출 테마를 선택하세요</option>\
													</select>\
												</td>\
											</tr>\
										</div>\
										<tr>\
											<td>\
												<label>평점(5.0만점)</label>\
											</td>\
											<td>\
												<input type='text' placeholder='평점을 입력하세요' name='user_rate' required=''>\
											</td>\
										</tr>\
									</table></li>");
			}

			function action_add2(){
				list2++;

				var ul_list = $("#ul_list2");
				ul_list.append("<li>\
								<table>\
									<div class='selectbox'>\
										<tr>\
											<td>\
												<label for='cafe2_"+ list2 +"'>방탈출 카페를 선택하세요</label>\
											</td>\
											<td>\
												<select name='cafe' id='cafe2_"+ list2 +"' class='select' onchange='searchThema2("+ list2 +")'>\
													<option selected>방탈출 카페를 선택하세요</option>\
													{% for cafe in cafe_list %}\
													<option value='{{cafe.cafe_name}}'>{{cafe.cafe_name}}</option>\
													{% endfor %}\
												</select>\
											</td>\
										</tr>\
									</div>\
									<div class='selectbox'>\
										<tr>\
											<td>\
												<label for='thema2_1'>방탈출 테마를 선택하세요</label>\
											</td>\
											<td>\
												<select name='thema' id='thema2_"+ list2 +"' class='select'>\
													<option selected>방탈출 테마를 선택하세요</option>\
												</select>\
											</td>\
										</tr>\
									</div>\
									<tr>\
										<td>\
											<label>평점(5.0만점)</label>\
										</td>\
										<td>\
											<input type='text' placeholder='평점을 입력하세요' name='user_rate' required=''>\
										</td>\
									</tr>\
									<div class='selectbox'>\
										<tr>\
											<td>\
												<label>탈출 여부</label>\
											</td>\
											<td>\
												<select name='user_escape' class='select'>\
													<option disabled selected>탈출했나요?</option>\
													<option value='1'>Yes</option>\
													<option value='0'>No</option>\
												</select>\
											</td>\
										</tr>\
									</div>\
									<div class='selectbox'>\
										<tr>\
											<td>\
												<label>탈출 여부</label>\
											</td>\
											<td>\
												<select name='user_difficulty' class='select'>\
													<option disabled selected>체감난이도</option>\
													<option value='매우 쉬움'>매우 쉬움</option>\
													<option value='쉬움'>쉬움</option>\
													<option value='보통'>보통</option>\
													<option value='어려움'>어려움</option>\
													<option value='매우 어려움'>매우 어려움</option>\
												</select>\
											</td>\
										</tr>\
									</div>\
								</table></li>");
			}

			function searchThema(num) {
				var cafeName = $("#cafe_"+ num + " > option:selected").val();

				$.ajax({ 
					type: 'POST', 
					url: "/selectThema",
					dataType: "json",
					data: JSON.stringify(cafeName),
					success: function(data){
						if( typeof(data) != "undefined" ) {

							var list = data;

							if(Array.isArray(list) && list.length === 0) {
								$("#thema_"+ num).html("<option value=''>방탈출 테마가 없습니다</option>");
							}
							else {
								$("#thema_"+ num).html("<option value=''>방탈출 테마를 선택하세요</option>");
	
								$(list).each(function(i) {
									var thema_name = list[i].thema_name;
									$("#thema_"+ num).append("<option value='" + thema_name + "'>" + thema_name + "</option>");
								});
							}

						} 
						else if(data.result == "error") {
							alert("오류");
						}
					},
					error: function(error) {
						alert(error);
					}
				});
			}

			function searchThema2(num) {
				var cafeName = $("#cafe2_"+ num + " > option:selected").val();

				$.ajax({ 
					type: 'POST', 
					url: "/selectThema",
					dataType: "json",
					data: JSON.stringify(cafeName),
					success: function(data){
						if( typeof(data) != "undefined" ) {
							
							var list = data;

							if(Array.isArray(list) && list.length === 0) {
								$("#thema2_"+ num).html("<option value=''>방탈출 테마가 없습니다</option>");
							}
							else {
								$("#thema2_"+ num).html("<option value=''>방탈출 테마를 선택하세요</option>");
	
								$(list).each(function(i) {
									var thema_name = list[i].thema_name;
									$("#thema2_"+ num).append("<option value='" + thema_name + "'>" + thema_name + "</option>");
								});
							}

						} 
						else if(data.result == "error") {
							alert("오류");
						}
					},
					error: function(error) {
						alert(error);
					}
				});
			}

		</script>
	</body>
</html>